* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  width: 1500px;
  max-width: 100%;
  min-height: 100vh;
  height: 100vh;
  background-color: rgb(224, 215, 305);
  margin: 0 auto;
}

html {
  font-size: 12pt; /* später 1rem für 12 pt, oder 2rem für 24pt */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sign-up-button {
  background-color: #E1EEF7;
  color: black;
  padding: 5px 15px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 50px
}

.log-in-button{
  background-color: #E1EEF7;
  color: black;
  padding: 5px 15px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 30px;
}

.LoginPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.SignupPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.login-title{
  font-family: COCOMAT;
  margin-top: 30px;
  margin-bottom: 30px;
}

.auth-writing{
  font-size: 20px;
  font-family: COCOMAT;
  font-weight: bolder;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.signup-title{
  font-family: COCOMAT;
  margin-top: 30px;
  margin-bottom: 30px;
}

.auth-writing-sign-up {
  font-size: 20px;
  font-family: COCOMAT;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 170px;
  margin-right: 170px;
}

.title {
  /* font-family: COCOMAT */ 
  /* margin-top: 0px;*/
  font-family: Air Travelers Personal Use ;
  color: white;
  font-size: 90px;
}

.cat-gif{
  size: 30px;
  margin-top: 30px;
}

.question{
  margin-bottom: 10px;
  font-family: COCOMAT;
  font-weight: bolder;
  font-size: 15px;
}

.sign-up-log{
  font-family: COCOMAT;
  font-weight: bolder;
  color: black;
}

.to-do-daily {
  background-color: /* #FBF3E6; */ /* #E1EEF7 */white;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 900px;
  width: 400px;
  height: 600px;
  font-family: snell roundhand;
  font-size: 25px;
  border-radius: 10px;
}

.link{
  background-color: #E1EEF7;
  color: black;
  padding: 5px 5px;
  font-size: 12px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 30px;
}

.logo {
  height: 35px;
  width: 35px;
  margin: 20px;
}

.flower-gif{
  display: flex;
  flex-direction: row;
  margin-top: 190px;
  margin-left: 900px;
}

.navgation{
  background-color: white;
}

.grateful-things{
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: -597px;
  margin-left: 800px;
  margin-right: 500px;
  width: 500px;
  height: 250px;
  font-family: snell roundhand;
  font-size: 20px;
  border-radius: 10px;
}

.plus-icon{
  width: 15px;
  height: 15px;
  margin-top: -5px;
}

.ToDoBox{
  width: 300px;
  height: 20px;
}

.profile{
  background-color: /* #FBF3E6; */ /* #E1EEF7 */white;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left:550px;
  margin-right: 900px;
  width: 400px;
  height: 400px;
  font-family: snell roundhand;
  font-size: 25px;
  border-radius: 10px;
}

.weekly-to-do{
  background-color: /* #FBF3E6; */ /* #E1EEF7 */white;
  display: flex;
  flex-direction: column;
  margin-top: -600px;
  margin-left: 600px;
  margin-right: 900px;
  width: 400px;
  height: 600px;
  font-family: snell roundhand;
  font-size: 25px;
  border-radius: 10px;
}

.to-do-daily-2{
  background-color: /* #FBF3E6; */ /* #E1EEF7 */white;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 900px;
  width: 400px;
  height: 600px;
  font-family: snell roundhand;
  font-size: 25px;
  border-radius: 10px;
}

.goals{
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: -597px;
  margin-left: 1100px;
  margin-right: 500px;
  width: 300px;
  height: 400px;
  font-family: snell roundhand;
  font-size: 20px;
  border-radius: 10px;
}

.flower-gif-2{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 900px;
}

/* .checkbox{
  display: flex;
  flex-direction: column;
  margin-left: 400px;
} */

.gratefulBox{
  
}


.delete-button{
  display: flex;
  flex-direction: column;
  margin-left: 350px;
  margin-top: -15px;
}